/* Style pour le conteneur des détails du film */
#movie-details {
    margin-top: 40px;
}

/* Style pour l'image du film */
#movie-details img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

/* Style pour les détails du film */
#movie-details p {
    margin-bottom: 15px;
}

/* Style pour les critiques */
#movie-details .list-group {
    margin-bottom: 40px;
}

/* Style pour le titre */
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

/* Style pour les cartes de films similaires */
.card-title {
    text-align: center;
    margin-bottom: 0;
}

.card {
    margin-bottom: 20px;
}