/* Ajoutez du CSS personnalisé ici si nécessaire */

/* Style pour le conteneur des détails du film */
#movie-details {
    margin-top: 20px;
}

/* Style pour l'image du film */
#movie-details img {
    max-width: 300px; /* Taille maximale de l'image */
    float: left; /* Alignement à gauche */
    margin-right: 40px; /* Marge à droite pour l'espace entre l'image et le texte */
}

/* Style pour les détails du film */
#movie-details p {
    margin-bottom: 10px; /* Marge en bas pour l'espace entre les paragraphes */
}

/* Ajoutez du CSS personnalisé ici si nécessaire */

/* Style pour le conteneur principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Style pour le titre */
#movie-title {
    margin-bottom: auto; /* Pour maintenir le titre en haut */
    
}
