* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .bg-black {
    background-color: #252525;
  }


  /* CARD */
  .card-img-landing {
    width: auto;
    height: 100vh;
  }


  .card-img {
    width: auto;
    height: 400px;
  }

  .bg-blur {
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.5s ease; /* Transition smooth du blur */
    background-color: #252525; /* Fond sombre */
  }


  /* = ou - a 992px */
@media only screen and (max-width: 992px) {
  .navigation_un {
    display: none;
  }

  .bloc_un {
    width: 50%;
  }

}

/* + ou = à 992px*/
@media only screen and (min-width: 993px) {
  .navigation_deux {
    display: none;
  }

  .bloc_un, .bloc_deux {
    height: 100vh;
  }  

}

body {
  background: rgb(37,37,37);
}






/* Appliquer le dégradé linéaire sur les blocs contenant l'image */
.bloc_parent {
  background: linear-gradient(to top, #181818, rgba(255, 255, 255, 0));
}
.bloc_parent img {
  background: linear-gradient(to top, #181818, rgba(255, 255, 255, 0));

}