/* Style pour le conteneur des détails de la série */
#series-details {
    margin-top: 40px;
}

/* Style pour l'image de la série */
#series-details img {
    max-width: 100%;
    display: block;
    margin: 0 auto 20px; /* Centrer l'image et ajouter de l'espace en bas */
}

/* Style pour les détails de la série */
#series-details p {
    margin-bottom: 15px;
}

/* Style pour les critiques */
#series-details .list-group {
    margin-bottom: 40px;
}

/* Style pour le titre */
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    margin-top: 100px;
}

/* Style pour les cartes de séries similaires */
.similar-series-card {
    max-width: 100px; /* Ajuster la largeur des cartes */
    margin: 0 auto 20px; /* Centrer les cartes et ajouter de l'espace en bas */
}

.similar-series-card .card-title {
    text-align: center;
    margin-bottom: 0;
}


.bg-blur {
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.5s ease; /* Transition smooth du blur */
    background-color: #252525; /* Fond sombre */
  }


  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
  .navigation_un {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 993px) {
  .navigation_deux {
    display: none;
  }

  

}

.bloc_un, .bloc_deux {
  height: 100vh;
}

/* Appliquer le dégradé linéaire sur les blocs contenant l'image */
.bloc_parent {
  background: linear-gradient(to top, #181818, rgba(255, 255, 255, 0));
}
.bloc_parent img {
  background: linear-gradient(to top, #181818, rgba(255, 255, 255, 0));

}